.container {
    height: 100vh;
    max-width: 726px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    
    padding-top: 10vh;
}

.paperPage {
    background-color: var(--paper-color);
    height: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 4rem 2rem 0 2rem;
    box-shadow: -0.12rem -0.12rem 0.5rem rgba(0, 0, 0, 0.25);
}

.pageHeader {
    border: none;
    border-bottom: 1px solid var(--gray-line) ;

    display: grid;
    grid-template-columns: 5rem 1fr 4rem 12rem;
    margin-bottom: 3.875rem;

}




.pageHeader h1 {
    font-family: roboto;
    font-size: 1.125rem;
    font-weight: 100;
    color: var(--text);

    margin: 0;
    margin-top: auto;
}

.pageHeader input {
    font-family: 'Handlee';
    border: 0;
}

.pageHeader input[type="text"] {
    font-size: 2.25rem;
}

.pageHeader input[type="date"] {
    font-size: 1.875rem;
}

.pageHeader input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}