:root {
    --white: #fff;
    --background: #EEA045;
    --paper-color: #FFFDF9;
    --gray-line: #c4c4c4;
    --text: #8B8B8B;
    --input-text: #000000;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', sans-serif;
    background-color: var(--background);
}

@media(max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}


@media(max-width: 720px){
    html {
        font-size: 87.5%;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
}

body, input, textarea, button {
    font: 400 16px sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}
